<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FargoEntities" connectionString="Data Source=SQLSERVER2008;initial catalog=TableDependencyExtensionsDB;User ID=Test_User;Password=Secret" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>